old stuff/Church DBMS.json
{
  "name": "Church DBMS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "db/ruwi_church",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        64
      ],
      "id": "52b90f33-85e7-42a7-87d4-ad3a4c559941",
      "name": "Create/Update/Delete Data",
      "webhookId": "becdf7c6-4cdc-4ec8-bcf7-b5a2a8968a3f"
    },
    {
      "parameters": {
        "content": "## Input Requests",
        "height": 624,
        "width": 208,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        -224
      ],
      "typeVersion": 1,
      "id": "4c2129d2-2557-4fe2-82ef-4d6efe8e547e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Process Data",
        "height": 624,
        "width": 784
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -224
      ],
      "typeVersion": 1,
      "id": "7740724a-7b63-4856-8dbc-03540cb973b3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5bdcff40-3317-4680-a4bf-c69f3dfffb43"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Delete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b0c0dace-a565-4d5d-a904-e84ebf62856e",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Add"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ea19be2a-e600-4ea8-9d2f-ca54d92faef4",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Edit"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "30c94f39-7e97-4530-8fa9-d1b56e7da341",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "fetch_all",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fetch All"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        16,
        32
      ],
      "id": "1b10efdd-89d4-4448-b8cc-c439629b55e4",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "## Update Database",
        "height": 624,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -224
      ],
      "typeVersion": 1,
      "id": "1ab2be41-acea-41a6-9cfd-00f17a23f131",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) from members where email=\"{{ $json.body.data.email }}\";\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        256,
        -192
      ],
      "id": "0265f3f2-c742-41a3-82d7-87200b39d119",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "9eFaAfTbqkn5fu9k",
          "name": "Ruwi Church DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a4705adc-a044-41e6-a085-54268732a367",
              "leftValue": "={{ $json[\"count(*)\"] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        -192
      ],
      "id": "fc089578-978f-4ae6-820b-c08451a4b1d0",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        592,
        -48
      ],
      "id": "853f2652-c2ed-46e3-955d-76b152578046",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "members",
          "mode": "list",
          "cachedResultName": "members"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $json.body.data.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        784,
        -128
      ],
      "id": "cea8849b-6cf8-4007-a2c5-8fe6006828e3",
      "name": "Delete table or rows",
      "credentials": {
        "mySql": {
          "id": "9eFaAfTbqkn5fu9k",
          "name": "Ruwi Church DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "members",
          "mode": "list",
          "cachedResultName": "members"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        304,
        256
      ],
      "id": "06477715-fe96-44b9-9c23-e37c1bdf99bb",
      "name": "Select rows from a table",
      "credentials": {
        "mySql": {
          "id": "9eFaAfTbqkn5fu9k",
          "name": "Ruwi Church DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    members: items.map(item => item.json)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        256
      ],
      "id": "8c2933b3-7059-4966-a60a-c72a1784a85e",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"members\": {{ $json.members.toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1040,
        256
      ],
      "id": "4d522fc9-d202-4baf-8c64-680290d5d56f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Send Response\n",
        "height": 624,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        -224
      ],
      "typeVersion": 1,
      "id": "7ed1104f-6e63-47dc-bfd4-89c033af1304",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1040,
        80
      ],
      "id": "a633f16c-ef48-45fe-b4cc-8f8e57df4fb3",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1040,
        -128
      ],
      "id": "4cc8ab52-59a5-4180-82e1-5fc3ef0cacf9",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "members",
          "mode": "list",
          "cachedResultName": "members"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "email",
        "valueToMatchOn": "={{ $json.body.data.email }}",
        "valuesToSend": {
          "values": [
            {
              "column": "name",
              "value": "={{ $json.body.data.name }}"
            },
            {
              "column": "email",
              "value": "={{ $json.body.data.email }}"
            },
            {
              "column": "phone",
              "value": "={{ $json.body.data.phone }}"
            },
            {
              "column": "dob",
              "value": "={{ $json.body.data.dob }}"
            },
            {
              "column": "address",
              "value": "={{ $json.body.data.address }}"
            },
            {
              "column": "emergency_contact",
              "value": "={{ $json.body.data.emergencyContact }}"
            },
            {
              "column": "join_date",
              "value": "={{ $json.body.data.joinDate }}"
            },
            {
              "column": "profile_pic",
              "value": "={{ $json.body.data.profilePicUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        784,
        80
      ],
      "id": "dad94a1e-e592-46db-863b-e188375009a6",
      "name": "Insert or update rows in a table",
      "credentials": {
        "mySql": {
          "id": "9eFaAfTbqkn5fu9k",
          "name": "Ruwi Church DB"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Create/Update/Delete Data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "10d6b560-8fe8-4657-820f-31a8b8ef36f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f571a66d3b8427581d89bd87e9511e178ea339ae53629f9f8732768f5b942426"
  },
  "id": "5prLQiUp590RGf4u",
  "tags": []
}