n8n/upload-workflow.json
{
  "name": "Image Upload Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-image",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "id": "52b90f33-85e7-42a7-87d4-ad3a4c559942",
      "name": "Upload Webhook",
      "webhookId": "becdf7c6-4cdc-4ec8-bcf7-b5a2a8968a3g"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst { v4: uuidv4 } = require('uuid');\n\nconst file = items[0].binary.image;\nconst ext = path.extname(file.fileName || '.jpg');\nconst filename = `${uuidv4()}${ext}`;\nconst filepath = `/data/uploads/${filename}`;\n\nfs.writeFileSync(filepath, Buffer.from(file.data, 'base64'));\n\nreturn [{\n  json: {\n    filePath: `/uploads/${filename}`,\n    success: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "8c2933b3-7059-4966-a60a-c72a1784a85f",
      "name": "Save File"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [680, 300],
      "id": "4d522fc9-d202-4baf-8c64-680290d5d56g",
      "name": "Respond"
    }
  ],
  "connections": {
    "Upload Webhook": {
      "main": [[{
        "node": "Save File",
        "type": "main",
        "index": 0
      }]]
    },
    "Save File": {
      "main": [[{
        "node": "Respond",
        "type": "main", 
        "index": 0
      }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "upload-workflow"
}